body {
    margin: 0; 
    min-height: 100vh; 
    background: linear-gradient(
      337deg,
      rgba(84, 39, 156, 1) 0%,
      rgba(45, 21, 87, 1) 40%,
      rgba(0, 0, 0, 1) 80%
    );
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }
  

#content {
    position: absolute;
    top: 6vh;          
    left: 0;
    width: 85vw;    
    height: 94vh;         
}



#logo{
    z-index: 2;
    background-color: #000000;
    color: white;
    position:fixed;
    font-size: 1.5vw;
    top: 2%;
    left: 50%;
    transform: translateX(-50%);
    Width: 12vw;
    height: 6vh;
    font-size: 2vw;
    font-weight: bold;
    display: flex;
    align-items: center;  
    justify-content: center; 
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#animation{
    z-index: 2;
    position:fixed;
    top:0;
    right:0;
    width: 88vw;
    height: 6vh;
    background-color: #000000;
    /*
    background-image: url('images/cloud.apng');
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position:center;
    */
}

#sidebar{
    position:fixed;
    right:0;
    top: 6vh;
   /* background-color: #ebedeb; */
    height:94vh;
    width: 15vw;
    text:#E5E5E5;
    font-size: 25px;
}
#sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #6d22b8;
    display: block;
    transition: 0.3s;
  }

  #sidebar a:hover{
    color: #dce4ef;
    transition: 0.3s;
    background-color:#8f40d9 ;

  }
#map {
    position: absolute;
    top: 5vh;
    left: 15vw;
    width: 70vw;
    height: 63vh;
    border-top-right-radius: 30px;
    padding: 30;
}


hr.solid {
    border-top: 3px solid #bbb;
}


#legend{
    position: absolute;
    background: #dce4ef;
    top:5vh;
    width: 5vw;
    left:10vw;
    height:63vh;
    border-top-left-radius: 30px;
}

#legendTop{
    position:absolute;
    background: #ede8f0;
    top:0vh;
    width: 5vw;
    left:0;
    height:7vh;
    color: white;
    display: flex;
    align-items: center;  
    justify-content: center; 
    font-family: Georgia, 'Times New Roman', Times, serif;
    border-top-left-radius: 30px;

}

#legendTextTop{
    position:absolute;
    top: 6vh;
    left: 10vh;
    color: black;
}

#live{
    overflow-x: overlay;
    width: 75.05vw;
    left:10vw;
    bottom: 18vh;
    background-color: #000000;
    position: absolute;
    height: 8vh;
    border-bottom-right-radius: 30px;
    color: rgb(255, 255, 255);
    display: flex;  
    align-items: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    flex-wrap: nowrap;
    white-space: nowrap;
    border-bottom-left-radius: 30px;
}

table {
    position: absolute;
    color: white;
    left:30vw;
    top: 85vh; 
    margin: 2vh 5vw;
    font-family: Georgia, 'Times New Roman', Times, serif;
    line-height: 1.6;
    padding-bottom: 50vh; 
    table-layout: auto;
    border-collapse: collapse;
    width: auto;
}

table, th, td {
    /*border: 1px solid rgb(224, 20, 20);*/
  }

